body {
    background-color: #debe9c;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0px;
}

.page-container {
    display: flex;
    flex-direction: column; /* stack children vertically */
    width: min(80%, 38rem);
    font-family: 'Averia Serif Libre', serif;
    font-style: normal;
    /* border: 3px solid green; */
    margin: 0 auto; /* center body if width < 100% */
}


.line {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.header_image {
    width: 95%;
    align-self: center;
    display: block;
}


h1{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 22px;

    @media (max-width: 600px) {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    }
}

h2{
    align-self: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 30px;
}

h3{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 21px;
    font-weight:bold;

}

.orange{
    color: #ce4c0c;
}

.green{
    color: #546E47;
}

.link {
    color: #7c2407;
    text-decoration: none;
    
}

.link:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

ul{
    margin: 0px;
    margin-left: 15px;
    padding: 0;

}

u{
    text-decoration: underline;
    text-decoration-style: dotted;
}

#footer-links {
    margin: 0;
    display: flex;
    gap: 20px;
    align-self: center;
}

footer{
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 10px;
}

.grid-item img {
    width: 100%;
    display: block;
}

.caption {
    margin: 5px 0 0 0;
    font-size: 15px;
    text-align: center; /* optional: center caption under image */
}

hr {
    border: none;              /* remove default border style if any */
    border-top: 1px solid #000000;  /* set color & thickness */
    margin: 5px 0;
}

.extra-space {
    margin-bottom: 7px; /* space below each list item */
}

#vines1 {
    position: absolute;       /* position relative to body */
    top: 250px;            /* moves image 20px below the page content */
    right: -10px;             /* moves image 20px past the right edge */
    width: 300px;             /* adjust size */
    z-index: -1;              /* behind all content */
}

#vines2 {
    position: absolute;       /* position relative to body */
    top: 0px;
    left: 0px;             /* moves image 20px past the right edge */
    width: 330px;             /* adjust size */
    z-index: -1;              /* behind all content */
}

#vines3 {
    position: absolute;       /* position relative to body */
    bottom: 180px;
    right: 0px;             /* moves image 20px past the right edge */
    width: 550px;             /* adjust size */
    z-index: -1;              /* behind all content */
}

@media (max-width: 768px) {
  #vines1,
  #vines2 {
    display: none;
  }
  #vines3 {
    bottom:-250px;
    right: -120px
  }
}
